@model BDData.Security.SignIn

    <form method="post" asp-controller="Security" asp-action="SignIn">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row form-group">
            <label asp-for="UserName" class="col-form-label col-4"></label>
            <input type="text" asp-for="UserName" class="form-control col-8" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="row form-group">
            <label asp-for="Password" class="col-form-label col-4"></label>
            <input type="password" asp-for="Password" class="form-control col-8" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-outline-primary col-4 offset-8">Sing In</button>
        </div>
    </form>